In [2]:
a = 10

In [3]:
print(a)

10

In [4]:
type(a)

int

In [5]:
print('hello')

hello

In [6]:
len("Hello")

5

In [7]:
mystring = "Hello World"

In [8]:
mystring

'Hello World'

In [9]:
mystring[0]

'H'

In [10]:
mystring[8]

'r'

In [11]:
mystring.title()

'Hello World'

In [12]:
mystring.lower()

'hello world'

In [13]:
mystring[-2]

'l'

In [16]:
mystring = "abcdefghijklmnopqrst"

In [17]:
mystring

'abcdefghijklmnopqrst'

In [18]:
mystring[:3]

'abc'

In [19]:
mystring[5:]

'fghijklmnopqrst'

In [20]:
mystring[2:7]

'cdefg'

In [22]:
name = "Deb"
last_letters = name[1:]

In [23]:
last_letters

'eb'

In [24]:
"p" + last_letters

'peb'

In [25]:
x = "hello world"

In [36]:
x = x + ", I am disappointed with you"

In [37]:
x

'hello world, I am disappointed with you, I am disappointed with you, I am disappointed with you, I am disappointed with you'

In [38]:
letter = 'z'

letter * 10

'zzzzzzzzzz'

In [39]:
2 + 3

5

In [40]:
'2' + '3'

'23'

In [41]:
x = 'Hello world'
x.capitalize()

'Hello world'

In [42]:
x.upper()

'HELLO WORLD'

In [44]:
x.lower()

'hello world'

In [45]:
x

'Hello world'

In [46]:
x.title()

'Hello World'

In [47]:
print(x)

Hello world

In [48]:
x.split()

['Hello', 'world']

In [49]:
x = 'hi this is a string'

In [50]:
x.split()

['hi', 'this', 'is', 'a', 'string']

In [53]:
x.split("i")

['h', ' th', 's ', 's a str', 'ng']

In [6]:

mylist = ['one', 'two', 'three']

In [55]:
mylist

['one', 'two', 'three']

In [7]:
another_list = ['four', 'five']

In [8]:
newList = mylist + another_list

In [9]:
newList[0] = 'ONE ALL CAPS'

In [10]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [11]:
newList.append('six')

In [12]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [13]:
newList.append('seven')

In [14]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [15]:
newList.pop()

'seven'

In [16]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [17]:
popped_item = newList.pop()

In [18]:
newList

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [19]:
popped_item

'six'

'ONE ALL CAPS'

In [25]:
newList = ['a', 'e', 'x', 'b', 'c']
numList = [4,1,8,3]

In [30]:
mySortedList = newList.sort()

In [29]:
mySortedList

In [31]:
type(mySortedList)

NoneType

In [32]:
newList.sort()

In [33]:
mySortedList = newList

In [34]:
mySortedList

['a', 'b', 'c', 'e', 'x']

In [35]:
numList.sort()

In [36]:
numList

[1, 3, 4, 8]

In [37]:
numList.reverse()

In [38]:
numList

[8, 4, 3, 1]

In [39]:
my_dict = {'key1':'value1', 'key2': 'value2'}

In [40]:
my_dict['key1']

'value1'

In [42]:
prices_lookup = {'apple': 2.99, 'orange':1.99, 'milk':5.00}
prices_lookup['apple']

2.99

In [43]:
d = {'k1': 123, 'k2':[0,1,2], 'k3':{'insidekey': 100}}

In [44]:
d['k3']

{'insidekey': 100}

In [45]:
d['k3']['insidekey']

100

In [46]:
d['k2'][1]

1

In [47]:
t = (1,2,3)
type(t)

tuple

In [48]:
len(t)

3

In [49]:
t = ('one', 3)

In [50]:
t[1]

3

In [51]:
t[-2]

'one'

In [52]:
t = ('a', 'a', 'b')
t.count('a')

2

In [53]:
t.index('a')

0

In [54]:
t.index('b')

2

In [55]:
mylist

['one', 'two', 'three']

In [56]:
mylist[0] = 'NEW'

In [57]:
mylist

['NEW', 'two', 'three']

In [58]:
myset = set()
myset

set()

In [59]:
myset.add(1)

In [60]:
myset

{1}

In [61]:
myset.add(2)

In [62]:
myset

{1, 2}

In [63]:
myset.add(2)

In [64]:
myset

{1, 2}

In [65]:
mylist = [1,1,1,3,4,4,2,2,4,3,3,2]

In [66]:
set(mylist)

{1, 2, 3, 4}

In [67]:
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [68]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [69]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [72]:
for num in mylist:
    if num % 2 == 0:
        print(f'even number : {num}')
    else:
        print(f'odd number : {num}')

odd number : 1
even number : 2
odd number : 3
even number : 4
odd number : 5
even number : 6
odd number : 7
even number : 8
odd number : 9
even number : 10

In [77]:
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [78]:
tup = (1,2,3)

In [79]:
for item in tup:
    print(item)

1
2
3

In [80]:
mylist = [(1,2),(3,4),(5,6),(7,8)]
len(mylist)

4

In [82]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [83]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [86]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [87]:
for key, value in d.items():
    print(value)

1
2
3

In [88]:
for key in d.keys():
    print(key)

k1
k2
k3

In [89]:
for value in d.values():
    print(value)

1
2
3

In [90]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')